<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Melody Hero</title>
    <link href='https://fonts.googleapis.com/css?family=Orbitron:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>  </head>
  <body>
    <h1 style="font-family: Orbitron">Melody Hero</h1>
    <div id="mute-button" class="off"></div>

    <div class="welcome">
      <p class="welcome-header">Welcome to Melody Hero! (Taken from Piano Hero)</p>
      <p class="instructions">Use the home keys to play each note as it falls across the key.</p>
      <p class="instructions">You will get points for hitting a note if at least half of it overlaps with the white key when you press the key.</p>
      <p class="instructions">Take a minute to get used to the keyboard, then import a .wav song!</p>
      <br>
      <form method="POST" action="/upload" enctype="multipart/form-data" id="audioForm">
        <input type="file" name="file" />
      </form>

      <!-- <button class="song-button">Ode to Joy</button>
      <button class="song-button">The Lion Sleeps Tonight</button>
      <button class="song-button">Concerning Hobbits</button> -->
    </div>

   <div class="won hidden">
     <p class="won-message"><p>
     <p class="space">Import another song to play again!</p>
     <br>
     <form method="POST" action="/upload" enctype="multipart/form-data" id="audioForm">
       <input type="file" name="file" />
     </form>
   </div>

    <canvas id="canvas"></canvas>

    <script src="./ejs/ejs.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <script type="application/javascript" src="./bundle.js"></script>
    <script src="./keymaster.js"></script>
  </body>
</html>
